name: ReleasePostProcess
on:
  release:
    types: [published, created, prereleased]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Post Process New Release
      env:
        GITHUB_TOKEN: ${{ secrets.GHAT2 }}
      run: |
        sudo apt-get install python3-setuptools
        pip3 install github3.py
        python3 -u ./ci_scripts/release_post_processing.py
